body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

main {
	padding-bottom: 40px; /* Adds space to prevent overlap */
}

#navbar {
	background-color: #cdff90;
}

#navbar .nav-link {
	color: #254400;
}

#navbar .nav-link:hover {
	color: #569c00;
}

.cart-container {
	width: 80%;
	margin: 20px auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

th {
	background-color: #444;
	color: white;
}

.summary {
	text-align: right;
	font-size: 18px;
	margin-bottom: 20px;
}

.payment-info {
	background-color: #f4f4f4;
	padding: 20px;
	border-radius: 5px;
}

.payment-info h2 {
	margin-top: 0;
}

input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: #28a745;
	color: white;
	border: none;
	padding: 10px;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
}

button[type="submit"]:hover {
	background-color: #218838;
}

.hidden {
	display: none;
	color: green;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
