body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: inline-block;
}

.slogan {
	display: inline-block;
	width: 100%;
	line-height: 1.4;
	font-size: 1rem;
	text-align: center;
	margin-top: 40px;
	background-color: #b9ffcc;
}

.slogan p {
	font-size: 1.2rem;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}

@media (max-width: 1024px) {
	.slogan p {
		padding-left: 10%;
		padding-right: 10%;
		font-size: 1.1rem;
	}
}

@media (max-width: 768px) {
	.slogan p {
		padding-left: 5%;
		padding-right: 5%;
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	.slogan p {
		padding-left: 2%;
		padding-right: 2%;
		font-size: 0.9rem;
	}
}

.team {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 50px auto;
	gap: 10px;
	max-width: 1200px;
}

article {
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	padding: 60px;
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease,
		background-color 0.3s ease;
	padding: 60px;
	background-color: #f9f9f9;
	border-radius: 10px;
}

article:hover {
	transform: translateY(-5px) scale(1.05);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	background-color: #e0e0e1;
}

figure img {
	width: 100%;
	height: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 5px;
}

figcaption {
	font-weight: bold;
	margin-top: 10px;
}

@media (max-width: 768px) {
	.team {
		grid-template-columns: 1fr;
		font-size: 1.5rem;
		margin: 30px auto;
	}

	article {
		padding: 40px;
	}

	figure img {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 480px) {
	.team {
		font-size: 1.2rem;
		margin: 20px auto;
	}

	article {
		padding: 30px;
	}
}

#navbar {
	background-color: #b9ffcc;
}

#navbar .nav-link {
	color: #004412;
}

#navbar .nav-link:hover {
	color: #008c26;
}
